
.app-container {
    padding: 20px;
    min-height: 100vh; 
    background-color: inherit;
    color: inherit; 
    border: none;
}


.header {
    color: inherit; 
}


.filters-container {
    position: sticky;
    top: 0; 
    background-color: inherit; 
    padding: 10px;
    border-bottom: 1px solid #ddd;
    z-index: 100; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.light-mode {
    background-color: #fff;
    color: #000;
}

    .light-mode .champion-card {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
    }


.dark-mode {
    background-color: #333;
    color: #fff;
}

    .dark-mode .champion-card {
        background-color: #444;
        border: 1px solid #555;
    }


.theme-toggle-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00BFFF;
    color: #fff;
    font-size: 16px;
}

    .theme-toggle-btn:hover {
        background-color: #0056b3;
    }

.filters-container input,
.filters-container select,
.filters-container button {
    margin: 5px;
}
